BBN_DEPLOY_MNEMONIC="stay celery crime window tumble border tissue tragic very typical silly hazard inhale absorb cinnamon vendor clock blossom cute snake summer maple orbit glance"
BBN_DEPLOY_ADDRESS="bbn1mn3l6gylchmsg0rycdl5tfgmt95pn7z4v2f4s3"